// Tamanhos do texto
.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-20 {
    font-size: 20px;
}

.size-24 {
    font-size: 24px;
}

.size-32 {
    font-size: 32px;
}

.size-34{
    font-size: 34px;
}

// Pesos do texto

.weight-light {
    font-weight: 300;
}

.weight-regular {
    font-weight: 400;
}

.weight-medium {
    font-weight: 500;
}

.weight-bold {
    font-weight: 700;
}

.weight-semibold {
    font-weight: 800;
}

.weight-extrabold {
    font-weight: 900;
}

// Alinhnamento
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

// Fontes
.font-inter {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

// Cores
.color-white {
    color: white;
}

.color-black {
    color: black;
}

//Line height

.line-height-16 {
    line-height: 16px;
}

.line-height-20 {
    line-height: 20px;
}

.line-height-22 {
    line-height: 22px;
}

.line-height-34 {
    line-height: 34px;
}

.line-height-36 {
    line-height: 36px;
}

// Transparência

.transparent-60 {
    opacity: 0.6;
}

// Espaçamento

.letter-spacing-3 {
    letter-spacing: 3px;
}