.container {
    padding: 0 16px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.description{
    margin-top: 20px;
    margin-bottom: 24px;
}

.button {
    margin-bottom: 20px;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.customers {
    display: flex;
    flex-direction: column;
}

.line {
    justify-items: center;
}

.firstLineBrands {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.secondLineBrands {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.imageSection {
    background-color: red;
    height: 525px;
}

.arrivals {
    display: flex;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 32px;
}

.productCard {
    display: flex;
    flex-direction: column;
}